@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model dynamic
@{
  this.ViewBag.Title = this.Model.Product.Title;
  this.ViewBag.MetaKeywords = this.Model.Product.MetaKeywords;
  this.ViewBag.MetaDescription = this.Model.Product.MetaDescription;
}
<div class="product-page">
  <div class="product-page__cover">
    <img class="product-page__cover-image" src="/img?url=/images/temp/@Model.Product.CoverPhoto.Filename&w=960&h=960" />
  </div>
  <h1>@Model.Product.Name</h1>
  @Html.Raw(this.Model.Product.Description)
  <div class="product-page__price">
    $@Model.Product.Price
  </div>
  <a class="product-page__add-to-cart button button--positive" href="/@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName/ecommerce/cart/add?productid=@Model.Product.Id">Add to cart</a>
</div>