@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Frontend.ViewModels.ECommerce.ThankYouPageViewModel 
<h1>Thank You</h1>
<p>@Model.Order.CustomerFirstName, thank you for your order!</p>
<p>Your order number is @Model.Order.Id.</p>
<p>We will contact you shortly.</p>